@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

/* Include the padding and border in an element's total width and height */
body{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
  background-color: #233142;
}
* {
  box-sizing: border-box;
}

.checklistlogo{
  color: #facf5a;
  padding-left: 15px;
  list-style-type: none;
  text-decoration: none;
  color: #f95959;
  padding-left: 5px;
  font-weight: normal;
}
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #f95959;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #facf5a;
  padding: 30px 40px;
  color: black;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.flor {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #facf5a;
  padding-left: 15px;
  list-style-type: none;
  text-decoration: none;
}

.florslogan {
  font-family: 'Quicksand', sans-serif;
  color: #f95959;
  padding-left: 5px;
}

.background {
  font-size: 30px;
  background-color: #233142;
  text-align: left;
}

.resource {
  text-decoration: none;
  color: #233142;

}
