@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: #6D7973;
  color: white;
}

ul {
  list-style-type: none;
}

li {
    display: inline;
    float: left;
}
.flor {
  color: #E5DACE;
  padding-left: 15px;
  font-weight: bold;
  list-style-type: none;
}

.florslogan {
  color: #B2B2A2;
  padding-left: 5px;
  font-weight: normal;
}

.login {
  float: right;
  padding-right: 10px;
  color: #E5DACE;
  font-size: 25px;
  text-decoration: none;
}

.quote {
  text-align: center;
  color: #E7BAA0;
}
