@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: #6D7973;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
    display: inline;
    float: left;
}
.flor {
  color: #E5DACE;
  padding-left: 15px;
  font-weight: bold;
  list-style-type: none;
}

.florslogan {
  color: #B2B2A2;
  padding-left: 5px;
  font-weight: normal;
}

.login {
  float: right;
  padding-right: 10px;
  color: #E5DACE;
  font-size: 25px;
  text-decoration: none;
}

.imagebox {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.authorimage {
  width: 150px;
  border-radius: 50%;
  border: 7.5px solid #E5DACE;
}
.quote {
  text-align: center;
  color: #E7BAA0;
}
.author {
  text-align: center;
  padding-left: 300px;
  color: #E7BAA0;

}

.welcome {
  text-decoration: none;
  float: right;
  color: #E7BAA0;
  font-size: 25px;
  text-align: right;
  padding-right: 15px;
}

.logout {
  text-decoration: none;
  float: right;
  color: #E5DACE;
  font-size: 25px;
  text-align: right;
  padding-right: 15px;
}

.quiz {
  text-align: center;
}

.headabovebutton {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #FFFAF4;
}

.abovebutton {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FFFAF4;
  padding-left: 100px;
  padding-right: 100px;
}
.button {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: #C2A59F;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
