.checklist {
      padding: 10px;
      text-align: center;
      border: 8px solid black;
      background-color: #EFAA52
}

.checklistinfo {
  font-size: 32px;
}

.checklistinfo2 {
  font-size: 24px;
  margin: 40px;

}

.checklist {
  border: 20px solid black;
}
