@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: #233142;
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0px;

}

li {
    display: inline;
    float: left;
}

.flor {
  color: #facf5a;
  padding-left: 15px;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
}

.florslogan {
  color: #f95959;
  padding-left: 5px;
  font-weight: normal;
}

.welcome {
  text-decoration: none;
  float: right;
  color: white;
  font-size: 25px;
  text-align: right;
  padding-right: 15px;
}

.logout {
  float: right;
  padding-right: 10px;
  color: #facf5a;
  font-size: 25px;
  text-decoration: none;
}

.form {
  text-align: center;
}

.questhead {
  font-size: 40px;
  font-weight: bold;
}

.study {
  vertical-align: middle;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.box {
  height:30px;
  font-size:12pt;
  background-color: white;
  border-color: white;
  text-align: center;
  color: #233142;
  font-family: "Quicksand",sans-serif;
  font-weight: bold;
}

.box:focus {
  outline:none;
   border-color: #E5DACE;
   box-shadow: 5px #E5DACE;
}

.linez {
  vertical-align: middle;
}

.option{
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      background-color: white;
      border: white;
      text-align: left;
      border-radius: 8px;
      padding: 14px 28px;
      font-size: 16px;
      color: #233142;
      cursor: pointer;
      display: inline-block;
}
.option:hover {
    background-color: #facf5a;

  }

.nextButton{
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: white;
  border-radius: 8px;
  padding: 12px 8px;
  font-size: 16px;
  font-color: white;
  cursor: pointer;
  display: inline-block;
}
.nextButton:hover {
    background-color: #f95959;
}

.linkgang {
  color: #facf5a;

}
