body {
  background-color: #6D7973;
  color: #E5DACE;
  font-size: 28px;
}

p {
  color: black;
  font-size: 24px;
}
.btn {
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    border-radius: 8px;
    padding: 14px 28px;
    font-size: 16px;
    text-color: white;
    cursor: pointer;
    display: inline-block;
    border: 2px solid lightpink

}



.btn:hover {
    background-color: black;
    color: white;
}

.nextButton{
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: white;
  border-radius: 8px;
  padding: 12px 8px;
  font-size: 16px;
  font-color: white;
  cursor: pointer;
  display: inline-block;
  border: 2px solid black;
}
.nextButton:hover {
    background-color: lightpink;
    color: white;
}


.questions {
  padding: 10px;
  border: 8px solid black;
  background-color: #874E4C;
}

.flor {
  color: #E5DACE;
  padding-left: 15px;
  font-weight: bold;
  list-style-type: none;
}
