<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="images/rose.jpg">
<link rel="stylesheet" type="text/css" href="/stylesheets/checklist.css">
<body class="background">
  <div>
    <p>
      <a href="/" class="flor"> Floreciente </a>
    <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
  </div>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->

  <div id="resourcesCompleted" class="header">
    <h2>Resources Completed</h2>
  </div>


  <!-- <ul id="myUL">
    <li class="checked">Hit the gym</li>
    <li class="checked">Study Habits</li>
    <li class="checked">Start FAFSA</li> -->
    <!-- <li>Study for SAT</li>
    <li>Write essays</li> -->
  <!-- </ul> -->

  {% for resource in resource_list %}
    <ul class="myUL">
      <li class="resource"><a href='{{resource.url}}'>{{resource.description}}</a></li>
    </ul>
  {% endfor %}

</body>
<script src="/scripts/checklist.js"></script>
<script src="/scripts/lq2.js"></script>
