<!DOCTYPE html>
<title> Floreciente | Home </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
<link rel="icon" href="images/rose.jpg">
<body>

    <ul>
      <li>
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
        {% if current_user %}
      <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li>
      <li class="welcome">
        Welcome, {{current_user}}!
      </li>
      <li class="logout">
        <a class="logout" href="/checklist">My Checklist</a>
      </li>
      <li class="about">
        <a class="about" href="/aboutus">About Us</a>
      </li>
    </ul>
  <div>
    <br><br><br>
    <div>
      <img id="scale" src="images/rocket.png">
    </div>
    <p class="headabovebutton">
      Hey {{current_user}},
    </p>
    <p class="abovebutton">
      You are on the right path being here. To get started on the journey to higher
      education and a brighter future, click to start the quiz below!
    </p>
      <form class="quiz" action="/qpg" method="get">
        <button class="button">
          Quiz
        </button>
      </form>
  </div>
    {% else %}
    <a class="login" href="{{login_url}}"> Log in / Sign Up </a>
    <br><br><br>
    <div class="imagebox">
      <img src="images/malcolmx.jpg">
    </div>
      <p class="quote">
        "Education is the passport to the future, for tomorrow belongs to those who prepare for it today."
      </p>
      <p class="author">
        - Malcolm X
      </p>
    {% endif %}
  </li>
</body>
