<!DOCTYPE html>
<title> Floreciente | Home </title>
<link rel="stylesheet" type="text/css" href="home.css">
<body>
  <div>
    <p class="flor">Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<h3 id="text">Welcome back, {{current_user}}!</h3>

<div class="checklist">
  <p class="checklistinfo">Interactive Game Checklist:</p>
  <p class="checklistinfo2">Here is what you have already completed:<br>
    1. School Activities <br>
    2. Clubs <br>
    3. Extracurriculars <br>

  </p>
</div>
