<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <h3>Interested in preparing for the PSAT? </h3>
   <p>High school students are often required to take the PSAT in either their sophomore or junior years. If you’re one of them, you may have been informed about the PSAT by your school or by searching online. However, studying for the test isn’t the same thing as knowing what it is. Here are some helpful resources to help get yourself familiar with the standardized test.</p>
  <ul>
    <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-test-1.pdf">PSAT Practice Test #1</a></li>
      <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-answer-sheet.pdf">PSAT Practice Test #1 Answer Sheet</a></li>
      <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-test-2.pdf">PSAT Practice Test #2</a></li>
      <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-answer-sheet.pdf">PSAT Practice Test #2 Answer Sheet</a></li>
  </ul>
</body>
