<!DOCTYPE html>
<title>Questions | Study Habits </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        Floreciente
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li>
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST class="study">
    <p class="questhead">How are your study habits?</p>
    <p><input type="button" class="option" name="studyh" id="often" value="often">I study often,
    I have an organized schedule of my school assignments.<br>
    <br>
    <input type="button" name="studyh" id="whenever" value="whenever">I study whenever
    I want to.<br>
    <br>
    <input type="button" name="studyh" id="not" value="not">I don't study.<br>
    <br>
    <input type="hidden" name="stage" value="study">
  </p>
    <input type="submit" value="Next question"/>
</form>
<!-- js -->
  <button>Click</button><p>


  <div class="lq1" style="display: none;">To better prepare for college, study habits can be one of the most significant steps in
  obtaining an education. Most high schools inadequately prepare their students to the most effective
  way to obtain information.
  Here are some awesome resources to help improve your study habits!<br>
   Study Habits Improvement:<br>
    <ul>
    <li>
    <li>
      #1: Stick to a Set Schedule: Getting into a fixed habit of studying will help you improve your concentration
      and mental stamina over time.
    </li>
    <br>
    <li>
      #2: Schedule Your Studying in Smaller Increments Over a Long Period of Time:
      By sticking to a schedule of studying for a reasonable amount of time over the entire semester or term,
      you'll be able to better store and recall the information you need, and thereby reduce some of the stress
      that comes from schoolwork, tests, and studying.
    </li>
    <br>
    <li>
      #3: Stick to the Same Study Spaces: A stable environment for a particular activity can help put you in the
      right mood and mind frame to complete the task at hand. The same applies for engaging in studying.
    </li>
    <br>
    <li>
      #4: Practice Good Study Hygiene: Good study hygiene is about retaining a clear separation between work
      and rest. This allows you to focus on necessary tasks while minimizing stress and anxiety in the rest of
      your life.
    </li>
    <br>
    <li>
      Keep Yourself Comfortable, Hydrated, and Fed: So make sure you take water, a jacket, a snack, coffee,
      or whatever else you need to your study space so that you can be comfortable, focused, and ready to learn.
    </li>
    <br>
    <li>Keep Tantalizing Distractions Far Away: The best way to avoid distractions like these is to remove
      temptation altogether.
    </li>
    <br>
    If you're interested in learning more on how to stay on track when it comes to studying, <a href="https://blog.prepscholar.com/how-to-study-better-in-high-school">click here</a> to find more information from PrepScholar!</p>
    </ul>
  </div>

</div>

<script src="/scripts/main.js"></script>
