<!DOCTYPE html>
<title>Questions | Extracurriculars </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        Floreciente
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li>
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <p class="questhead">Are you involved in any extracurricular activities such as school clubs,
    sports, student body, etc?</p>
    <p><label class="option">
      <input type="radio" id="ec" class="option" name="ecs" value="no">I am not involved in any extracurriculars.<br>
      </label>
    <br>
    <p><label class="option">
        <input type="radio" id="noec"class="option" name="ecs" value="yes">I am involved in extracurriculars at my school.
    </label>
    <br>
    <div class="ec" style="display: none;">
      jahfjkdlkjsdafhjkfs
    </div>
    <div class="noec" style="display: none;">
      EKKEKKEKEKEKE
    </div>


    <br>
    <input type="hidden" name="stage" value="extracurriculars">
  </p>
    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>

<script src="/scripts/lq2.js"></script>
