<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/Questions.css">
<body>
  <h3>Are you unsure of what extracurriculars you should be involved in?</h3>
  <p>Here's some activities to get involved in: </p>
  <ul>
    <li>Student Government</li>
    <li>Academic Teams and Clubs</li>
    <li>The Debate Team</li>
    <li>The Arts</li>
    <li>Internships</li>
    <li>Culture Clubs</li>
    <li>Volunteer Work and Community Service</li>
    <li>The Student Newspaper</li>
  </ul>
  <p>If you're interested in learning more on ways to get involved in extracurriculars, <a href="https://www.fastweb.com/student-life/articles/impressive-extracurriculars">click here</a> to find more information from Fastweb!</p>

</body>
