<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST>
    <h2>Have you began taking any challenging courses such as AP/IB/Honors classes?</h2>
    <p><input type="button" class="option" name="classes" value="I have taken some AP/IB courses so far."><br>
    <br>
    <input type="button" class="option" name="classes" value="I am not taking any AP/IB/Honors courses at my school."><br>
    <br>
  </p>
    <input type="submit" class="nextButton" value="Next question"/>
</form>
    <input type="hidden" name="stage" value="classes">
</div>

<script src="/scripts/main.js"></script>
