<!DOCTYPE html>
<title>Questions | Classes </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li>
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <p class="questhead">Have you began taking any challenging courses such as AP/IB/Honors classes?</p>
      <label class="option">
        <input type="radio" id="apib"name="classes" value="not">I have taken some AP/IB courses so far.<br>
      </label>
    <br><br>
      <label class="option">
        <input type="radio" id="noapib"name="classes" value="yes">I am not taking any AP/IB/Honors courses at my school.<br>
      </label>
    <br>
  </p>
    <input type="submit" class="nextButton" value="Next question"/>
    <input type="hidden" name="stage" value="classes">
</form>
  <br>

</div>
<div class="apibdescription" style="display: none;">
  Good job! Taking challenging courses ensures that you can have a successful college education because it better
  prepares you for the education you'll be recieving in college.
</div>
<div class="noapibdescription" style="display: none;">
  <h3>Here are some awesome classes that can help challenge you if your school offers them:</h3>
  <p>Taking challenging courses ensures that you can have a successful college education because it better
  prepares you for the education you'll be recieving in college. If your school offers these classes, it's a
  good idea to research which interest you the most.</p>
  <h4>Advanced Placement Classes <h4>
  <ul>
    <a href="https://apstudent.collegeboard.org/apcourse">
  <li>Art History</li><br>
  <li>Biology</li><br>
  <li>Calculus AB</li><br>
  <li>Calculus BC</li><br>
  <li>Chemistry</li><br>
  <li>Chinese Language and Culture</li><br>
  <li>Computer Science A</li><br>
  <li>Computer Science Principles</li><br>
  <li>English Language and Composition</li><br>
  <li>English Literature and Composition</li><br>
  <li>Environmental Science</li><br>
  <li>European History</li><br>
  <li>French Language and Culture</li><br>
  <li>German Language and Culture</li><br>
  <li>Government and Politics (Comparative)</li><br>
  <li>Government and Politics (US)</li><br>
  <li>Human Geography</li><br>
  <li>Italian Language and Culture</li><br>
  <li>Japanese Language and Culture</li><br>
  <li>Latin</li><br>
  <li>Macroeconomics</li><br>
  <li>Microeconomics</li><br>
  <li>Music Theory</li><br>
  <li>Physics 1: Algebra-Based</li><br>
  <li>Physics 2: Algebra-Based</li><br>
  <li>Physics C: Electricity and Magnetism</li><br>
  <li>Physics C: Mechanics</li><br>
  <li>Psychology</li><br>
  <li>Spanish Language and Culture</li><br>
  <li>Spanish Literature and Culture</li><br>
  <li>Statistics</li><br>
  <li>Studio Art Drawing</li><br>
  <li>Studio Art 2-D Design</li><br>
  <li>Studio Art 3-D Design</li><br>
  <li>US History</li><br>
  <li>World History</li><br>
  </a>
  </ul>
  <h4>ACT Preparation: <h4>
  <ul>
    <a href="https://blog.prepscholar.com/what-are-ib-classes">
  <li>Group 1 – English A: Literature, HL</li><br>
  <li>Group 2 – Language B: French B, SL; French ab initio, SL</li><br>
  <li>Group 3 – Individuals and Societies: History,HL</li><br>
  <li>Group 4 – Experimental Sciences: Biology, HL, and/or Chemistry, SL</li><br>
  <li>Group 5 – Mathematics: Math, SL</li><br>
  <li>Group 6 – Arts Electives: Visual Arts, SL</li><br>
  </a>
  </ul>
</div>

<script src="/scripts/lq3.js"></script>
