<!DOCTYPE html>
<title>Questions | Careers </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        Floreciente
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li>
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you began researching potential careers that interest you?</h2>
    <label class="option">
    <p><input type="radio" name="career" value="no">I have not found any careers that suit my interest.<br>
    </label>
    <br>
    <label class="option">
    <input type="radio" name="career" value="yes">I have come across some careers that I find interesting.<br>
    </label>
    <br>
  </p>
    <input type="submit" class="nextButton" value="Next question"/>
</form>
    <input type="hidden" name="stage" value="careers">
</div>

<script src="/scripts/lq5.js"></script>
