<!DOCTYPE html>
<title>Questions | Testing </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you began practicing for the PSAT? </h2>
    <label class="option">
      <input type="radio" id="nostudy" name="psat" value="no">I have not began studying for the PSAT.<br>
    </label>
    <br><br>
    <label class="option">
      <input type="radio" id="study" name="psat" value="yes">I have started studying for the PSAT.<br>
  </label>
  <br>
  </p>
    <input type="hidden" name="stage" value="psat">
    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>
<br>
<div class="studydescription" style="display: none;">
  Great job! Keep studying, it's great to start early in your high school career.
</div>
<div class="nostudydescription" style="display: none;">
  <h3>Interested in preparing for the PSAT? </h3>
   <p>High school students are often required to take the PSAT in either their sophomore or junior years. If you’re one of them, you may have been informed about the PSAT by your school or by searching online. However, studying for the test isn’t the same thing as knowing what it is. Here are some helpful resources to help get yourself familiar with the standardized test.</p>
  <ul>
    <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-test-1.pdf">PSAT Practice Test #1</a></li><br>
      <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-answer-sheet.pdf">PSAT Practice Test #1 Answer Sheet</a></li><br>
      <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-test-2.pdf">PSAT Practice Test #2</a></li><br>
      <li><a href="https://collegereadiness.collegeboard.org/pdf/psat-nmsqt-practice-answer-sheet.pdf">PSAT Practice Test #2 Answer Sheet</a></li><br>
  </ul>
</div>

<script src="/scripts/lq4.js"></script>
