<!DOCTYPE html>
<title>Questions | Careers </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you began researching potential careers that interest you?</h2>
    <label class="option">
    <input type="radio" id="nocareer" name="career" value="no">I have not found any careers that suit my interest.<br>
    </label>
    <br><br>
    <label class="option">
    <input type="radio" id="career" name="career" value="yes">I have come across some careers that I find interesting.<br>
    </label>
    <br>
  </p>
    <input type="submit" class="nextButton" value="Next question"/>
</form>
    <input type="hidden" name="stage" value="careers">
</div>
<div class="nocareer" style="display: none;">
  <h3>Confused on what career pathway you want to pursue?</h3>
   <p>High school students can often have trouble deciding what career to choose.
     Most people need some preparation before they’re ready for the workforce, and planning should begin long before it’s time to start a career.
     This could include taking technical courses during high school or, after graduating, attending a college or university to earn a certificate or a degree.
     Knowing what type of career preparation you need begins with thinking about what type of career you want.</p>
     <h4>Here are some great career tips to help you </p>
       <ul>
          <li> To help you get started, work through these questions alone or with family and friends:</li> <br>
          <li>What are you really good at and love doing?</li> <br>
          <li>What are you are good at but hate doing?</li> <br>
          <li>What do you love doing but are not that great at?</li> <br>
          <li>What are you not good at and hate doing?</li> <br>
  </ul>
</div>
<div class="career" style="display: none;">
  <br>
  Nice!<h1>👍</h1>
</div>
<script src="/scripts/lq5.js"></script>
