<!DOCTYPE html>
<title>Questions | Extracurriculars </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        Floreciente
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li>
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <p class="questhead">Are you involved in any extracurricular activities such as school clubs,
    sports, student body, etc?</p>
    <p><input type="button" class="option" name="ecs" value="I am not involved in any extracurriculars."><br>
    <br>
    <input type="button" class="option" name="ecs" value="I am involved in extracurriculars at my school.">
    <br>
    <br>
    <input type="hidden" name="stage" value="extracurriculars">
  </p>
    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>

<script src="/scripts/main.js"></script>
