<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST>
    <h2>How are your study habits?</h2>
    <p><input type="radio" name="studyh" value="often">I study often,
    I have an organized schedule of my school assignments.<br>
    <br>
    <input type="radio" name="studyh" value="whenever">I study whenever
    I want to.<br>
    <br>
    <input type="radio" name="studyh" value="not">I don't study.<br>
    <br>
    <input type="hidden" name="stage" value="study">
  </p>
    <input type="submit" value="Next question"/>
</form>
</div>

<script src="/scripts/main.js"></script>
