<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <h3>Intereted in preparing for the PSAT? </h3>
  <p>Here are some great resources to help prepare you for the PSAT!</p>
  <ul>
    <li>Student Government</li>
    <li>Academic Teams and Clubs</li>
    <li>The Debate Team</li>
    <li>The Arts</li>
    <li>Internships</li>
    <li>Culture Clubs</li>
    <li>Volunteer Work and Community Service</li>
    <li>The Student Newspaper</li>
  </ul>
  <p>If you're interested in learning more on ways to get involved in extracurriculars, <a href="https://www.fastweb.com/student-life/articles/impressive-extracurriculars">click here</a> to find more information from Fastweb!</p>

</body>
