<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/Questions.css">
<body>
  <h3>Here are some great resources to help study for the SAT/ACT.</h3>
  <h4>SAT Preparation: <h4>
  <ul>
    <li><a href="https://www.khanacademy.org/test-prep/sat">Khan Academy</a></li>
    <li><a href="https://collegereadiness.collegeboard.org/sat/practice">College Readiness</a></li>
    <li><a href="https://blog.prepscholar.com/how-to-prepare-for-the-sat">PrepScholar</a></li>
  </ul>
  <h4>ACT Preparation: <h4>
  <ul>
    <li><a href="https://www.khanacademy.org/college-careers-more/college-admissions/making-high-school-count/standardized-tests/a/preparing-yourself-for-success-on-the-tests">Khan Academy</a></li>
    <li><a href="https://uniontestprep.com/act">Union Test Preparation</a></li>
    <li><a href="https://blog.prepscholar.com/the-best-act-prep-websites-you-should-be-using">PrepScholar</a></li>
  </ul>
</body>
