<!DOCTYPE html>
<title>Questions | Testing </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you began practicing for the PSAT? </h2>
    <label class="option">
      <input type="radio" id="nostudy" name="psat" value="no">I have not began studying for the PSAT.<br>
    </label>
    <br>
    <label class="option">
      <input type="radio" id="study" name="psat" value="yes">I have started studying for the PSAT.<br>
  </label>
    <br>
  </p>
    <input type="hidden" name="stage" value="psat">
    <input type="submit" class="nextButton" value="Next question"/>
</form>

</div>
<div class="apibdescription" style="">
  yuh ap ib
</div>
<div class="noapibdescription">
  no ib ap
</div>

<script src="/scripts/lq4.js"></script>
