<!DOCTYPE html>
<title>Questions | Extracurriculars </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li>
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <p class="questhead">Are you involved in any extracurricular activities such as school clubs,
    sports, student body, etc?</p>
    <p><label class="option">
      <input type="radio" id="ec" class="option" name="ecs" value="no"> I am not involved in any extracurriculars.<br>
      </label>
    <br>
    <p><label class="option">
        <input type="radio" id="noec"class="option" name="ecs" value="yes"> I am involved in extracurriculars at my school.
    </label>
    <br>
    <input type="hidden" name="stage" value="extracurriculars">
  </p>
    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>
<br>
<div class="ec" style="display: none;">
  <p class="questhead">Are you unsure of what extracurriculars you should be involved in?</p>
  <p>Now that it’s time to start thinking about the college admissions process, it’s important to consider what you’ll need to put on applications as well.
    Here are different types of extracurricular activities that colleges actually want to see. With a little something for everyone, you’re sure to find something you’ll enjoy!</p>
  <p>Here's some activities to get involved in: </p>
  <ul>
    <li>Student Government</li><br>
    <li>Academic Teams and Clubs</li><br>
    <li>The Debate Team</li><br>
    <li>The Arts</li><br>
    <li>Internships</li><br>
    <li>Culture Clubs</li><br>
    <li>Volunteer Work and Community Service</li><br>
    <li>The Student Newspaper</li><br>
  </ul>
  <p>If you're interested in learning more on ways to get involved in extracurriculars, <a class="linkgang" target="_blank" href="https://www.fastweb.com/student-life/articles/impressive-extracurriculars">click here</a> to find more information from Fastweb!</p>
</div>
<div class="noec" style="display: none;">
<p>👍</p>
</div>

<script src="/scripts/lq2.js"></script>
