<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST>
    <h2>Have you began practicing for the PSAT? </h2>
    <p><input type="radio" name="psat" value="no">I have not began studying for the PSAT.<br>
    <br>
    <input type="radio" name="psat" value="yes">I have started studying for the PSAT.<br>
    <br>
  </p>
    <input type="submit" value="Next question"/>
</form>
    <input type="hidden" name="stage" value="psat">
</div>

<script src="/scripts/main.js"></script>
