<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/Questions.css">
<body>
  <h3>Here are some awesome classes that can help challenge you if your school offers them:</h3>
  <p>Taking challenging courses ensures that you can have a successful college education because it better
  prepares you for the education you'll be recieving in college. If your school offers these classes, it's a
good idea to research which interest you the most.</p>
  <h4>Advanced Placement Classes <h4>
  <ul>
    <a href="https://apstudent.collegeboard.org/apcourse">
<li>Art History</li>
<li>Biology</li>
<li>Calculus AB</li>
<li>Calculus BC</li>
<li>Chemistry</li>
<li>Chinese Language and Culture</li>
<li>Computer Science A</li>
<li>Computer Science Principles</li>
<li>English Language and Composition</li>
<li>English Literature and Composition</li>
<li>Environmental Science</li>
<li>European History</li>
<li>French Language and Culture</li>
<li>German Language and Culture</li>
<li>Government and Politics (Comparative)</li>
<li>Government and Politics (US)</li>
<li>Human Geography</li>
<li>Italian Language and Culture</li>
<li>Japanese Language and Culture</li>
<li>Latin</li>
<li>Macroeconomics</li>
<li>Microeconomics</li>
<li>Music Theory</li>
<li>Physics 1: Algebra-Based</li>
<li>Physics 2: Algebra-Based</li>
<li>Physics C: Electricity and Magnetism</li>
<li>Physics C: Mechanics</li>
<li>Psychology</li>
<li>Spanish Language and Culture</li>
<li>Spanish Literature and Culture</li>
<li>Statistics</li>
<li>Studio Art Drawing</li>
<li>Studio Art 2-D Design</li>
<li>Studio Art 3-D Design</li>
<li>US History</li>
<li>World History</li>
</a>
  </ul>
  <h4>ACT Preparation: <h4>
  <ul>
    <a href="https://blog.prepscholar.com/what-are-ib-classes">
  <li>Group 1 – English A: Literature, HL</li>
<li>Group 2 – Language B: French B, SL; French ab initio, SL</li>
<li>Group 3 – Individuals and Societies: History,HL</li>
<li>Group 4 – Experimental Sciences: Biology, HL, and/or Chemistry, SL</li>
<li>Group 5 – Mathematics: Math, SL</li>
<li>Group 6 – Arts Electives: Visual Arts, SL</li>
  </a>
  </ul>
</body>
