<!DOCTYPE html>
<title>Floreciente | Start </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/qpg.css">
<link rel="icon" href="images/rose.jpg">
<body>
  <div>
    <ul>
      <li>
        <span class="flor">
          Floreciente
        </span>
      </li>
      <li>
        <span class="florslogan">
          Cultivating Excellence
        </span>
      </li>
      <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li>
    </ul>
  </div>
  <br>
  <div class="form">
    <form method=POST>
      <p>
        What is your name?
      </p>
      <input class="box"name="name">
      <p>What grade are you in?</p>
      <p>
        <input class="linez" type="radio" name="grade" value="underclassman">
          9th-10th
        </input>
      </p>
      <p>
        <input class="linez" type="radio" name="grade" value="upperclassman">
        11th-12th
        </input>
      </p>
      <input type="hidden" name="stage" value="intro">
      <p>
      <input class="button" type="submit" value="Submit"/>
    </form>
  </div>
</body>
