<!DOCTYPE html>
<title>Floreciente | Start </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/qpg.css">
<link rel="icon" href="rose.jpg">

<body>
  <div>
    <ul>
      <li>
        <span class="flor">
          Floreciente
        </span>
      </li>
      <li>
        <span class="florslogan">
          Cultivating Excellence
        </span>
      </li>
    </ul>
  </div>
  <br>
  <div class="form">
    <form method=POST>
      <p>
        What is your name?
      </p>
      <input name="name"><p>
      <p>What grade are you in?</p>
      <input type="checkbox" name="grade" value="underclassman">
        9th-10th
      </input>
      <input type="checkbox" name="grade" value="upperclassman">11th-12th</input>
      <input type="hidden" name="stage" value="intro">
      <p>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</body>
