<!DOCTYPE html>
<!DOCTYPE html>
<title>Questions | FAFSA </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        Floreciente
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li>
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST action="/">
    <h2>Have you began your FAFSA/Dream Act Application?</h2>
    <label class="option">
    <input type="radio" name="finaid" value="notstarted">I have not began my financial aid application.<br>
    </label>
    <br>
    <label class="option">
    <input type="radio"name="finaid" value="yes">I have started or completed my financial aid application.<br>
    </label>
    <br>
  </p>
    <input type="hidden" name="stage" value="FAFSA">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>

<script src="/scripts/main.js"></script>
