<!DOCTYPE html>
<title>Questions | Applying </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you began applying to colleges?</h2>
    <label class="option">
    <input type="radio" id="started" name="apply" value="yes">I have started my college applications.<br>
    </label>
    <br><br>
    <label class="option">
    <input type="radio" id="notstarted" name="apply" value="notstarted">I have not began applying to colleges.<br>
    </label>
    <br>
  </p>
    <input type="hidden" name="stage" value="applying">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>
<br>
<div class="starteddescription" style="display: none;">
   Great! Keep applying and make sure to stay aware of the application deadlines: November 1 (the usual deadline for Early Decision), November 30 (the deadline for UC applications), Early January (for most other Regular Decision applications)
</div>
<div class="notstarteddescription" style="display: none;">
  College Application Tips
    <p>While the application process may seem a little overwhelming, you can use the following information to get ready and figure out your next steps.</p>
  <h3>What deadlines are important?</h3>
    <h4>Early Application Deadline</h4>
    <p>Every university and college has its own application deadlines, but they fall around the same time. Early applicants (early action, early decision or single choice early action) generally need to get their applications in by either November 1 or November 15.</p>
    <h4>Regular Application Deadline</h4>
    <p>The deadline for regular decision applications is normally between January 1 and February 1, depending on the college. Get the bulk of your essays done and confirm who will write your recommendations in November, so you won’t have a lot of last-minute work to do during the holiday season.</p>
  <h3>What college application do I use?</h2>
  <p>Students can visit a college's website to determine which applications are accepted. Also, <a class="linkgang" target="_blank" href="https://admissions.universityofcalifornia.edu/applicant/login.htm">UC App</a>,&nbsp;<a class="linkgang" target="_blank" href="https://www.commonapp.org/">&nbsp;Common App</a>,&nbsp; <a class="linkgang" target="_blank" href="http://www.coalitionforcollegeaccess.org/">Coalition Application</a>&nbsp;and <a class="linkgang" target="_blank" href="https://www.universalcollegeapp.com/">Universal College Application</a>&nbsp;websites list their partner schools.</h3>
    <h3>What Are the Other Key Components of a College Application?</h3>
    <ul>
        <li>Personal Info</li>
        <li>High School Transcript</li>
        <li>Standardized Test Scores</li>
        <li>Letters of Reccomendation</li>
    </ul>
  <p>If you need more college application tips, <a class="linkgang" target="_blank" href="https://bigfuture.collegeboard.org/get-in/applying-101/tips-for-preparing-your-college-application"> click here!</a></p>
</div>

<script src="/scripts/uq1.js"></script>
