<!DOCTYPE html>
<title>Questions | Visiting </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you visited any college campuses?</h2>
    <label class="option">
      <input type="radio" id="novisit"name="place" value="no">I have not visited any college campuses.<br>
    </label>
  <br><br>
    <label class="option">
      <input type="radio" id="visit" name="place" value="yes">I have been on a few college tours.<br>
    </label>

    <br>
  </p>
    <input type="hidden" name="stage" value="campus">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>
<br>
<div class="novisitdescription" style="display: none;">
  no visit
</div>
<div class="visitdescription" style="display: none;">
  visit
</div>
<script src="/scripts/uq4.js"></script>
