<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST>
    <h2>Have you began applying to colleges?</h2>
    <p><input type="radio" name="apply" value="started">I have started my college applications.<br>
    <br>
    <input type="radio" name="apply" value="notstarted">I have not began applying to colleges.
    <br>
    <br>
  </p>
    <input type="hidden" name="stage" value="applying">

    <input type="submit" value="Next question"/>
</form>
</div>

<script src="/scripts/main.js"></script>
