<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST>
    <h2>Have you taken any SAT/ACT tests yet?</h2>
    <p><input type="radio" name="testing" value="no">No, I have yet to take any standardized testing.<br>
    <br>
    <input type="radio" name="testing" value="yes">I have began taking standardized tests.<br>
    <br>
  </p>
    <input type="hidden" name="stage" value="SAT">

    <input type="submit" value="Next question"/>
</form>
</div>

<script src="/scripts/main.js"></script>
