<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST>
    <h2>Have you applied to any scholarships?</h2>
    <p><input type="radio" name="funds" value="have">I have began researching scholarships and started applying to some.<br>
    <br>
    <input type="radio" name="funds" value="havenot">I have not began applying to any scholarships.
    <br>
    <br>
  </p>
    <input type="hidden" name="stage" value="scholarships">

    <input type="submit" value="Next question"/>
</form>
</div>
