<!DOCTYPE html>
<title>Questions | Essays </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <p class="questhead">Have you began writing your essays for college applications?</p>
    <label class="option">
      <input type="radio" id="ywrite" name="essay" value="yes">I have began writing my essays for college applications.<br>
    </label>
    <br><br>
    <label class="option">
      <input type="radio" id="nwrite" name="essay" value="havenot">I have not created any essays yet.<br>
    </label>
    <br>
  </p>
    <input type="hidden" name="stage" value="essays">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>
<br>
<div class="ywritedescription" style="display: none;">
  Great job! If you feel comfortable with your essays, it might be a good idea to have someone else read them and give you feedback. You are not obligated to rewrite your essay based on their critiques, but you will gain a better understanding of how other people may percieve your essays.
</div>
<div class="nwritedescription" style="display: none;">
  <p class="questhead">Your essays play a pretty big part in your college application. Done well, they can help make up for grades or test scores that are below the college’s average. Not to worry if you didn’t do so well in freshman English; here’s some tips to get you started:</p>
  <h3>How many essays?</h3>
  	Generally, if you’re applying to private colleges, many will use the <a class="linkgang" target="_blank" href="https://www.commonapp.org/">Common Application</a>.  This means that you will likely have to write one essay with a 650-word limit on one of <a class="linkgang" target="_blank" href="https://www.commonapp.org/whats-appening/application-updates/2018-2019-common-application-essay-prompts">these prompts</a>.  In addition, each school may have a few supplementary essays, so make sure you know if they do. If you’re applying to the UC system, you’ll have to write four responses (each of which has a 350-word limit) to four of the <a class="linkgang" target="_blank" class="linkgang" target="_blank" href="http://admission.universityofcalifornia.edu/how-to-apply/personal-questions/freshman/index.html">eight prompts</a> of your choosing.
    <p>
  <h3>Start Early</h3>
  	Ideally, start in the summer before the application season. You’ll have much more time to craft and revise your essays.
    <p>
  <h3>Your essay should tell a story</h3>
  	It should reveal something about you. If Admissions Officers can understand where you’re coming from, you’ll have a better shot of getting in. <a class="linkgang" target="_blank" href="https://greatcollegeadvice.com/how-to-write-the-perfect-college-essay-tell-a-good-story/">Click here</a> to learn more about telling a story with your essay.
    <p>
  <h3>Your essays are not the time to plagiarize/practice style imitation</h3>
  	It wouldn’t be uncommon for you to read a really great essay and want to mimic it with your own. However, these essays are a way for you to share your personal experiences, and if your personal experiences haven’t led you to write a certain way up until now, now is not the best time to attempt someone else’s writing style. In other words, be genuine. Your essays will sound much better.
    <p>
  For more information on college essays, check out the <a class="linkgang" target="_blank" href="https://bigfuture.collegeboard.org/get-in/essays">College Board</a>.
</div>
<script src="/scripts/uq5.js"></script>
