<!DOCTYPE html>
<title>Questions | Applying </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        Floreciente
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you began applying to colleges?</h2>
    <label class="option">
    <input type="radio" name="apply" value="yes">I have started my college applications.<br>
    </label>
    <br>
    <label class="option">
    <input type="radio" name="apply" value="notstarted">I have not began applying to colleges.<br>
    </label>
    <br>
    <br>
  </p>
    <input type="hidden" name="stage" value="applying">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>

<script src="/scripts/main.js"></script>
