<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST action="/">
    <h2>Have you began writing your essays for college applications?</h2>
    <p><input type="radio" name="grade" value="underclassman">I have began writing my essays for college applications.<br>
    <br>
    <input type="radio" name="grade" value="upperclassman">I have not created any essays, yet.<br>
    <br>
  </p>
    <input type="submit" value="Next question"/>
</form>
</div>
<p>{{qs[0]['question']}}<p>
