<!DOCTYPE html>

<title>Questions | Scholarships </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you applied to any scholarships?</h2>
    <label class="option">
        <input type="radio" id="scholarships" name="funds" value="yes">I have began researching scholarships and started applying to some.</label>
        <br><br>
    </label>
    <label class="option">
    <input type="radio" id="noscholarships" name="funds" value="havenot">I have not began applying to any scholarships.<br>
    </label>
  </p>
    <input type="hidden" name="stage" value="scholarships">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>
<br>
<div class="scholarshipsdescription" style="display: none;">
  Great! Keep applying to scholarships, <a class="linkgang" target="_blank" href="https://www.fastweb.com/">click here</a> for a great scholarship search engine.
</div>
<div class="noscholarshipsdescription" style="display: none;">
  <p class="questhead">Scholarships Are an Essential Tool to the College Proccess</p>
  <p>Most college scholarships target incoming freshmen and undergraduates, so the sooner you start searching for awards and applying for them, the better.</p>
  <h3>Here are some great websites that offer great search engines for scholarships elligible for almost anyone to apply for.</h2>
  <h3><strong><a class="linkgang" target="_blank" class="linkgang" target="_blank" href="https://www.petersons.com">Peterson’s</a></strong></h3>
  <p>Peterson’s is a one-stop scholarship resource — not that we recommend this strategy &#8212;  with a number of great (and free!) resources. The site boasts $10 billion in scholarship awards and has an impressive collection of articles, test prep resources and more.</p>
  <p>But it’s not just a stockpile of scholarships. It also has the tools and tips you need to start your search &#8212; and its search filters make navigation simple. Filling out a very short survey allows you to adjust the filters as you go, which gives you more control than sites that require extensive profiles to get started.</p>
  <h3><strong><a class="linkgang" target="_blank" href="https://unigo.com">Unigo</a></strong></h3>
  <p>Like Peterson’s, Unigo has plenty to offer beyond just scholarships, including jobs, internships, college profiles and rankings, articles and a textbook store. When it comes to scholarships, the site offers both profile-based matching as well as easy-to-browse categories.</p>
  <p>Perhaps best of all is its user-friendly interface, which is somewhat reminiscent of a photo-sharing site. It makes finding scholarships simple. What’s more, the site values security and privacy of personal information – so, in other words, no spam!</p>
  <h3><strong><a class="linkgang" target="_blank" href="http://www.fastweb.com">Fastweb</a></strong></h3>
  <p>Fastweb, a subsidiary of Monster, hosts more than 1.5 million scholarships that amount to more than $3.4 billion dollars. And it’s all so well organized! The search platform’s filters make it hard <em>not</em> to find exactly what you’re looking for.</p>
  <p>One minor drawback: You have to fill out a profile to get started. But the profile helps match you with scholarships most likely to suit your needs, and the sign-up process is relatively painless.</p>
  <h3><a class="linkgang" target="_blank" href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjxrLrXpZXKAhVLdT4KHVlkCEkQFggdMAA&amp;url=https%3A%2F%2Fwww.cappex.com%2F&amp;usg=AFQjCNGP9cBD3XpfhlzqMYDE7PetMbSHmw&amp;sig2=xtrJ9jLKIq9oMtSUy0nJrg" target="_blank">Cappex</a></h3>
  <p>Cappex has a large scholarship database and they’re not afraid to brag a bit: “We’ve Got More Than $11 Billion in Scholarships.” Registering can be annoying, but you’ll be glad you took the time to get personalized results.</p>
  <p>Cappex sets itself apart with its “What Are My Chances” <a class="linkgang" target="_blank" href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwjD55D8pZXKAhUG7D4KHcEPBEoQFggcMAA&amp;url=https%3A%2F%2Fwww.cappex.com%2Fhq%2Fscattergram&amp;usg=AFQjCNGA2p31fFo4vTBjUmwtQLzF-bDfAg&amp;sig2=1-t-wb7slKXJRRKW-cObww&amp;bvm=bv.110151844,d.cWw">tool</a>, which attempts to calculate the odds that you’ll get into a certain college before you apply.</p>
  <h3><a class="linkgang" target="_blank" href="http://www.chegg.com">Chegg</a></h3>
  <p>Over the years, Chegg has expanded from its humble beginnings as an online textbook store to become a well-rounded education resource. It acquired scholarship match service Zinch in 2011 and now hosts scholarships totaling over $1 billion.</p>
  <p>Its interface is simple and the mandatory sign-up process is well worth the time. What’s more, it has a “top scholarship picks this week” category, which highlights opportunities you may have otherwise missed. And on top of the scholarships, Chegg offers homework help, tutoring, test prep, internships and (of course) textbooks.</p>
  <h3><a class="linkgang" target="_blank" href="https://www.collegeboard.org">The College Board</a></h3>
  <p>As with all of the best resources, The College Board offers much more than an extensive list of scholarships. It also has test prep, articles and college search tools, among others. And its “scholarships, other financial aid and internships from more than 2,200 programs” totals nearly $6 billion. Added bonus: While you’re perusing the site you can prepare for the SAT!</p>
  <h3><a class="linkgang" target="_blank" href="https://niche.com">Niche</a></h3>
  <p>Formerly known as College Prowler, Niche is one of the easiest sites to navigate. It’s neatly organized into categories that make it simple to start finding and applying for scholarships.</p>
  <p>You can browse by categories – including, but not limited to, sports, interest area, career and major &#8212; but it can be tricky to filter outside of these preset groupings. Still, with no required sign-up and a user-friendly design, Niche is a simple and powerful resource.</p>
</div>
<script src="/scripts/uq2.js"></script>
