<!DOCTYPE html>
<title>Questions | FAFSA </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
        <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you began your FAFSA/Dream Act Application?</h2>
    <label class="option">
    <input type="radio" name="finaid" value="notstarted">I have not began my financial aid application.<br>
    </label>
    <br><br>
    <label class="option">
    <input type="radio"name="finaid" value="yes">I have started or completed my financial aid application.<br>
    </label>
    <br>
  </p>
    <input type="hidden" name="stage" value="FAFSA">

    <input type="submit" class="nextButton" value="Next"/>
</form>
</div>
<div class="notstarted" style="display: none;">
  <h2>Financial Aid is a big part of the college application proccess!</h2>
  <h3>Here are some schools that offer this opportunity:</h3>
    <p>Completing the <a class="linkgang" target="_blank" href="https://studentaid.ed.gov/sa/">FAFSA</a> is the first step for anyone making college plans. But you should also know what other options are available and how much you can afford to borrow.</p>
    <img src="https://s.yimg.com/uu/api/res/1.2/Li1o35ocUP3lOuOpMJ5.ag--~B/aD00NjQ7dz03NDE7c209MTthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-images/GLB/2017-09-29/00eb4650-a55d-11e7-9c46-37bed630f609_Screen-Shot-2017-09-29-at-5-27-00-PM.png">
    <p>The <a class="linkgang" target="_blank" href="https://dream.csac.ca.gov/">Dream Act</a> is also an important part of the college application process, an application specificially tailored for undocumented students.</p>
</div>
<div class="yes" style="display: none;">
  <p>Great job! Financial aid is very important for the college proccess.M
</div>
<script src="/scripts/uq6.js"></script>
