<!DOCTYPE html>
<title>Questions</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <p class="flor"> Floreciente
      <span class="florslogan">
        Cultivating Excellence
      </span>
    </p>
<div class="questions">
<form method=POST action="/">
    <h2>Have you began your FAFSA/Dream Act Application?</h2>
    <p><input type="button" class="option" name="finaid" value="I have not began my financial aid application."><br>
    <br>
    <input type="button" class="option" name="finaid" value="I have started or completed my financial aid application."><br>
    <br>
  </p>
    <input type="hidden" name="stage" value="FAFSA">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>

<script src="/scripts/main.js"></script>
