<!DOCTYPE html>
<title>Questions | Testing </title>
<link rel="stylesheet" type="text/css" href="/stylesheets/questions.css">
<body>
  <div>
    <ul>
      <li class="flor">
                                                                        b                                                                            bbbnbnnnnb  <a href="/" class="flor"> Floreciente </a>
      </li>
      <li class="florslogan">
          Cultivating Excellence
      </li>
      <!-- <li class="logout">
        <a class="logout" href="{{logout_url}}">
          Log out
        </a>
      </li> -->
    </ul>
  </div>
  <br>
<div class="questions">
<form method=POST>
    <h2>Have you taken any SAT/ACT tests yet?</h2>
    <label class="option">
    <input type="radio" name="testing" value="no">No, I have yet to take any standardized testing.<br>
    </label>
    <br><br>
    <label class="option">
    <input type="radio" name="testing" value="yes">I have began taking standardized tests.<br>
  </label>
    <br>
  </p>
    <input type="hidden" name="stage" value="SAT">

    <input type="submit" class="nextButton" value="Next question"/>
</form>
</div>
<div class=""style="display: none;">
</div>
<div class="" style="display: none;">
</div>
<script src="/scripts/uq3.js"></script>
